@import "base/mapas";
@import "base/variables";
@import "base/extends";
@import"base/mixin";
*{
    margin: 0;
    padding: 0;
}

/*estilos del menu*/
body{
    background-color: $color-principal;
    .contenedor{
        height: 100vh;
    display: grid;
    grid-template-areas:"header header"
                         "main  main"
                         "footer footer";
    justify-content: center ;
    }
    header{
        grid-area: header;
    text-align: center;
    margin-bottom: 20px;
        h1{
            text-decoration: none;
            color: black;
            margin-bottom: 50px;
        }
    }
    nav{
        justify-self: center;
        ul{
            display: flex;
            list-style: none;
            margin-bottom: 30px;        
            li{
                a{
                    @extend %botones;
                }
            }
            li:hover{
                @extend %animacion;
            }
        }
    }
    /*fin de estilos del menu*/
    /*home*/
    main{
        grid-area: main;
        .imagenHerr{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            width: 500px;        
        }
    }
    footer{
        grid-area: footer;
        p{
            @include texto;
            margin-top: 20px;
        }
    }
    /*herramientas electricas*/
    main{
        section{
            display: grid;
            justify-content: center;
        
            img{
                @include img;
            }
            p{
                @include texto;
            }
        }
    }
    .mainHerramientas{
        h2{
            text-decoration: none;
            justify-content: center;
        }
    }
    @media screen and (max-width:768px) and (min-width: 320px) {
        header{
            margin-bottom: 5px;
        }
        main p{
            text-align: center;
        }
        .imagenHerr{
            display: flex;
            width: 100px;
            justify-self: center;
        }
        nav ul li a{
            margin: 5px;
        }
    }    
}